<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Data" connectionString="user id=USER;password=PASSWORD;Data Source=SERVER;Database=DATABASE"/>
  </connectionStrings>
  <appSettings>
    <add key="TimeLog.Url" value="https://appx.timelog.com/YOURURL"/>
    <add key="TimeLog.ApiID" value="APIID_USER"/>
    <add key="TimeLog.ApiPassword" value="APIID_PASSWORD"/>
    <add key="TimeLog.SiteCode" value="SITECODE"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
        <binding name="BasicHttpBinding_SecurityService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ProjectManagementService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://appx.timelog.com/YOURURL/service.asmx"
          binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
          contract="TimelogServiceReference.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://appx.timelog.com/YOURURL/WebServices/Security/V1_2/SecurityServiceSecure.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityService"
          contract="TimelogSecurity.SecurityService" name="BasicHttpBinding_SecurityService" />
      <endpoint address="https://appx.timelog.com/YOURURL/WebServices/ProjectManagement/V1_3/ProjectManagementServiceSecure.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProjectManagementService"
          contract="TimelogProjectManagement.ProjectManagementService"
          name="BasicHttpBinding_ProjectManagementService" />
    </client>
  </system.serviceModel>
</configuration>